#gameWrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "rest rest rest" "resource people menu" "barn money menu" "event blo inv" "hap hap sarg";
}

/* Resource Styling */
#resourceDisp-cont {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: resource;
  margin: 30px 0;
}

#resourceDisp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#resourceLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainResource {
  padding: .5% 0;
  width: 33%;
  height: 48%;
  text-align: center;
  margin: 10px 0;
}

.mainResource img {
  width: 50px;
  height: 50px;
}

/* Game Menu */
#gameMenu-cont {
  width: 80%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: menu;
  margin: 0 auto;
  border: 2px solid black;
}

#gameMenuDisp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.gameMenuNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.menuNavItem {
  width: 25%;
  text-align: center;
}

.menuNav {
  width: 100%;
  height: 30px;
  border: 1px solid black;
  background-color: white;
}

.menuNav:active {
  border-bottom: none;
}

.menuGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.researchItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* People/Role Assignment Menu */
#peopleRole-cont {
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: people;
  margin: 30px 0;
}

#peopleRoleDisp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#peopleTop {
  width: 100%;
}

#peopleBottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.peopleRole {
  text-align: center;
  width: 44%;
  height: 44%;
  margin: 5px auto;
  padding: 1.5%;
  border-radius: 25px;
  border: 2px solid black;
}

.peopleRole.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.peopleRole.list .peopleCost {
  padding-top: 20%;
}

.peopleRole.list .roleCostSpan {
  padding-bottom: 2%;
}

.peopleRole.list .roleAmtSpan {
  padding-left: 5px;
  padding-bottom: 3%;
}

.peopleRole.list h4, span {
  vertical-align: middle;
  padding-top: 2%;
}

.peopleRole.list p {
  padding-top: 3%;
}

.peopleRole p {
  padding: 8px 0px;
}

.peopleRole h4 {
  margin: 3px 0;
}

#roleTitle {
  margin: 0 auto;
  text-align: center;
}

.peopleImg {
  height: 55px;
  width: auto;
}

.peopleAct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.peopleCost {
  margin: 0px 10px;
}

.peopleDispButt {
  vertical-align: center;
  border-radius: 5px;
}

.peopleDispButt.active {
  background-color: rgba(172, 25, 25, 0.9);
}

.peopleDispButt img {
  padding: 5px;
  height: 10px;
  width: 10px;
  vertical-align: middle;
}

/* Restaurant type switcher */
#typeSwitcher-cont {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: rest;
}

#typeSwitcherDisp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#typeSwitcherDisp h3 {
  padding: 0px 20px;
}

/* Happiness Meter */
#happyMeter-cont {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: hap;
}

/* Inventory */
#inventory-cont {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: inv;
  width: 80%;
  margin: 0 auto;
}

#inventoryDisp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#inventoryTitle {
  text-align: center;
}

#inventoryContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.inventoryItem {
  width: 33%;
  margin: 20px 0;
  text-align: center;
}

/* Money Manager */
#moneyManage-cont {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: money;
  width: 100%;
}

#moneyCounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#moneyTop {
  margin: 10px 0;
  text-align: center;
}

#moneyActions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 30px 0;
}

.moneyButton {
  width: 22%;
}

#researchBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#researchTitle {
  text-align: center;
}

#researchCounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#researchActions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.researchButton {
  padding: 3px 15px;
}

/* Event Log */
#eventLog-cont {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: event;
  width: 100%;
  height: 100%;
}

#eventLogDisp {
  width: 100%;
}

#eventLogTitle {
  text-align: center;
}

.logEvent {
  width: 90%;
  height: 15%;
  border-radius: 25px;
  background-color: grey;
  padding: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid black;
  margin: 10px auto;
}

.eventPic {
  content: url(/Clickergame/img/tube.svg);
}

.logEvent.red {
  background-color: rgba(255, 0, 0, 0.7);
}

.logEvent.gold {
  background-color: gold;
}

.logEvent.blue {
  background-color: rgba(0, 0, 255, 0.5);
}

.eventPic {
  height: auto;
  width: 30px;
  padding: 0px 30px 0px 50px;
  position: relative;
  top: 70%;
}

.eventTxt {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.eventTxt h4, p {
  margin: 3px 0px;
}

.mult-cont {
  width: 5%;
  margin-left: 50%;
}

.eventMult {
  border-radius: 15px;
  border: 1px solid black;
  padding: 5px;
  background-color: chocolate;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* Barn Manager */
#barnManager-cont {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: barn;
}

#barnManagerDisp {
  text-align: center;
}

#barnManagerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.managerItem {
  width: 45%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: grey;
  margin: 10px auto;
  padding: 1%;
  border-radius: 17px;
}

.managerItem-Left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 50%;
}

.managerItem-Right {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.barnItemTitle-cont {
  text-align: center;
}

.barnItemTitle {
  margin: 5px 0px;
}

.barnItemAct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.midStat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.barnItemImg {
  width: 50px;
  height: auto;
  padding: 0px 15px;
}

.barnItemAmt {
  position: relative;
  top: 0%;
}

.barnItemStat {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-right: 100px;
}

/* Universal Styles */
.disabled {
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
}

.hidden {
  visibility: hidden;
}

body {
  width: 100%;
  height: 100%;
}

img {
  max-width: 50px;
}

.hidden {
  display: none;
}

p, h1, h2, h3 {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */